body{
    color: green;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecera{
    background: yellow;
    color: black;
    margin: 0;
    padding: 0.8em;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
    box-shadow: 14px 15px 5px 0px rgba (0,0,0,0,75);
}    
.container{
    width: 70%;
    padding: 15px;
    text-align: left;
    border: 1px solid firebrick;
    margin: 0 auto;

}
.post{
    background-color: black;
    color: coral;
    height: 200px;
}
.footer{
    margin-top: 10px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    padding: 12px;
    background-color:darksalmon;
}